.table-wrapper-scroll-y {
    display: block;
    max-height: 800px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.loader {
    display: block;
    margin: 0 auto;
}

.no-results-info {
    text-align: center;
}
